body {
  font-family: "pt serif caption", serif;
  padding: 1ex 1em;
  max-width: 48em;
  margin: 0 auto;
}
h1 {
  font-size: 4.2rem;
  line-height: 1.1;
  margin: .5ex 0;
}
p,
dl {
  font-size: 1.23rem;
  line-height: 1.45;
  margin: 2ex 0;
}
dt {
  text-decoration: underline;
}
code {
  margin: 1ex 1em;
}
figure {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  figure {
    display: block;
    margin: 0;
  }
}
.ease-graph {
  display: block;
  clear: both;
  margin: 1ex 1em;
  height: 10em;
}
.ease-graph-bar {
  display: inline-block;
  vertical-align: text-bottom;
  width: 1em;
  background-color: #000000;
}
.ease-linear-1 {
  height: 5%;
}
.ease-in-1 {
  height: 5%;
}
.ease-out-1 {
  height: 5%;
}
.ease-inout-1 {
  height: 5%;
}
.ease-linear-2 {
  height: 13.636363636363637%;
}
.ease-in-2 {
  height: 7.603961612262504%;
}
.ease-out-2 {
  height: 17.655503656062486%;
}
.ease-inout-2 {
  height: 7.912075853012974%;
}
.ease-linear-3 {
  height: 22.272727272727273%;
}
.ease-in-3 {
  height: 12.365115655921088%;
}
.ease-out-3 {
  height: 29.693036468912396%;
}
.ease-inout-3 {
  height: 14.008204680962521%;
}
.ease-linear-4 {
  height: 30.909090909090907%;
}
.ease-in-4 {
  height: 18.530581440192876%;
}
.ease-out-4 {
  height: 41.0790747526313%;
}
.ease-inout-4 {
  height: 22.741594282662454%;
}
.ease-linear-5 {
  height: 39.54545454545455%;
}
.ease-in-5 {
  height: 25.831692898100034%;
}
.ease-out-5 {
  height: 51.7739560527623%;
}
.ease-inout-5 {
  height: 33.65733682746818%;
}
.ease-linear-6 {
  height: 48.18181818181818%;
}
.ease-in-6 {
  height: 34.11317587909454%;
}
.ease-out-6 {
  height: 61.729736440971095%;
}
.ease-inout-6 {
  height: 46.04497680106851%;
}
.ease-linear-7 {
  height: 56.81818181818181%;
}
.ease-in-7 {
  height: 43.270263559028905%;
}
.ease-out-7 {
  height: 70.88682412090546%;
}
.ease-inout-7 {
  height: 58.955023198931485%;
}
.ease-linear-8 {
  height: 65.45454545454545%;
}
.ease-in-8 {
  height: 53.2260439472377%;
}
.ease-out-8 {
  height: 79.16830710189997%;
}
.ease-inout-8 {
  height: 71.34266317253181%;
}
.ease-linear-9 {
  height: 74.0909090909091%;
}
.ease-in-9 {
  height: 63.9209252473687%;
}
.ease-out-9 {
  height: 86.46941855980712%;
}
.ease-inout-9 {
  height: 82.25840571733754%;
}
.ease-linear-10 {
  height: 82.72727272727273%;
}
.ease-in-10 {
  height: 75.30696353108762%;
}
.ease-out-10 {
  height: 92.63488434407891%;
}
.ease-inout-10 {
  height: 90.99179531903748%;
}
.ease-linear-11 {
  height: 91.36363636363636%;
}
.ease-in-11 {
  height: 87.34449634393752%;
}
.ease-out-11 {
  height: 97.39603838773749%;
}
.ease-inout-11 {
  height: 97.08792414698702%;
}
.ease-linear-12 {
  height: 100%;
}
.ease-in-12 {
  height: 100%;
}
.ease-out-12 {
  height: 100%;
}
.ease-inout-12 {
  height: 100%;
}
