@import "../../bower_components/loopless/dist/less/loop";
@import "index";

body {
  font-family: "pt serif caption", serif;
  padding: 1ex 1em;
  max-width: 48em;
  margin: 0 auto;
}

h1 {
  font-size: 4.2rem;
  line-height: 1.1;
  margin: 1ex 0;
}

p, dl {
  font-size: 1.23rem;
  line-height: 1.45;
  margin: 2ex 0;
}

dt {
  text-decoration: underline;
}

code {
  margin: 1ex 1em;
}

figure {
  display: inline-block;
  @media screen and (max-width: 480px) {
    display: block;
    margin: 0;
  }
}

.ease-graph {
  display: block;
  clear: both;
  margin: 1ex 1em;
  height: 10em;
}

.ease-graph-bar {
  display: inline-block;
  vertical-align: text-bottom;
  width: 1em;
  background-color: rgb(0,0,0);
}


@ease-stops: 12;
@ease-min: 5%;
@ease-max: 100%;
@ease-power: 1.5;

.loop-mix-in(@selector, @index, @from, @to) when(@selector = '.ease') {
  @i: @index - @from;
  @o: @to - @from;

  &-linear-@{index} {
    height: @ease-min + (@ease-max - @ease-min) * (@i / @o);
  }

  &-in-@{index} {
    .ease(ease-in, @ease-power, @i, @o);
    height: @ease-min + (@ease-max - @ease-min) * @ease;
  }

  &-out-@{index} {
    .ease(ease-out, @ease-power, @i, @o);
    height: @ease-min + (@ease-max - @ease-min) * @ease;
  }

  &-inout-@{index} {
    .ease(ease-inout, @ease-power, @i, @o);
    height: @ease-min + (@ease-max - @ease-min) * @ease;
  }
}

.loop(1,@ease-stops,'.ease');